{{ with $t := .}}
	{{range $i := .Methods}}
		func (s *{{ToLower $t.ServiceName}}Service) {{.Name}}(ctx context.Context, in *pb.{{GoName .RequestType.Name}}) (*pb.{{GoName .ResponseType.Name}}, error){
			var resp pb.{{GoName .ResponseType.Name}}
			return &resp, nil
		}
	{{end}}
{{- end}}
