package server

import (
	pb "{{.PBImportPath -}}"
	"{{.ImportPath -}}/service"
)

// Endpoints application domain
func Endpoints() pb.Endpoints {
	svc := service.NewService()
	endpoints := NewEndpoints(svc)

	return endpoints
}

